
UUID={{ uuid }} / ext4 rw,relatime 0 1
data /srv/yf/data 9p noauto,trans=virtio,version=9p2000.L,msize=52428800 0 0

/dev/cdrom /media/cdrom iso9660 noauto,ro 0 0
/dev/usbdisk /media/usb vfat noauto 0 0
